@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-body text-black bg-white;
  }
}
@layer components {
  .page-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    @apply bg-[#3b5be9] py-2 px-5 rounded-3xl text-white transition-all active:scale-90 cursor-pointer select-none;
  }
}
.Toastify__toast-container--top-right {
  margin-top: 4rem;
}
.card:nth-child(odd) {
  background: white;
  border: 2px solid #5373f2;
  color: #5373f2;
  .card-border {
    border-color: #5373f2;
  }
}
.card:nth-child(even) {
  border: 2px solid #5373f2;

  --tw-scale-x: 1.2;
  --tw-scale-y: 1.2;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rocket {
  position: relative;
  animation-name: example;
  animation-duration: 0.8s;
  // animation-delay: -10s;
}

@keyframes example {
  0% {
    left: 0px;
    top: 550px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
